body {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
}


#wrapper {
    background-color: white;
    padding: 0;
    margin: 1em 0;
    border: 3px solid blue;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-column: 1/ -1;
    width: 900px;
    justify-self: center;

}
h1 {
    grid-column: span 4;
    grid-row: span 1;
    font-weight: normal;
    color: lightblue;
    font-style: italic;
    font-family: helvetica, arial, georgia;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: -20px;
    font-size: px;
    width: 890px;
    padding: 10px;
    padding-right: 0;
    background-image: linear-gradient(to bottom, rgb(14, 108, 158),rgb(14, 108, 158),rgb(14, 108, 158),rgb(14, 108, 158),rgb(14, 108, 158));
}

h1 a {
    display: block;
    color: lightblue;
    text-decoration: none;
    }

h1 a:hover {
    color: darkblue;
    background-image: linear-gradient(to top, white,white,white,white,darkblue);
}

header {
    display: grid;
    grid-column: span 4;
    text-align: left;
    width: 800px;
    grid-column: span 4;
    grid-row: span 1;
    background-image: linear-gradient(to bottom, lightblue,lightblue,lightblue,lightblue,lightblue);

}

nav ul {
    font-family: Arial, sans-serif;
    font-size: 14px;
    list-style-type: none;
    padding-top: 0;
    padding-left: 0;
    background-color: rgb(14, 108, 158);
    display: flex;
    width: 899px;
    border: 1px solid blue;
}

nav li {
    border: 1px solid blue;
    padding: 0;
    margin: 5px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    width: 600px;
    background-color: lightblue;
}

nav li a {
    color:lime;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-right: 0;
    background-image: linear-gradient(to bottom, lightblue,lightblue,blue,darkblue,darkblue);
}
nav li a:hover {
    background-image: linear-gradient(to top, blue,blue,blue,yellow,yellow);
    background-color: yellow;
    color: white;
}
nav {
    display: grid;
    grid-column: span 4;
    text-align: left;
    grid-row: span 1;
}



main1 {

    background-color: lightblue;
    width: 300px; 
    padding-right: 10px;
    margin-top: -14px;
    padding-left: 10px;

}
.intro {
    color: red;
    text-align: justify;
    font-weight: bold;
    background-color: lightblue;
    width: 300px;
    font-size: 18px;
    grid-column: 1/ span 1;
    grid-row: span 2;
    color: red;
    font-family: Arial, sans-serif;
}
main2 {

    grid-template-columns: 2fr;
    grid-row: span 1;
    text-align: left;
    width: 600px;
    grid-row: span 1;

}
footer {
  
    border-top: 3px solid darkblue;
    background-color: red;
     display: inline-block;
    grid-template-columns: 4fr;
    text-align: left;
    width:900px;
    grid-column: 1/ span 4;

}
main2 h2 {
    font-size: 18px;
    color: darkblue;
    border-bottom: 2px solid darkblue;
    font-weight: normal;
    grid-column: 1/ -1;
    display: grid;
    padding-left: 0;
    margin-left: 10px;
    margin-top: 0;
    padding-right: 0;
    width: 550px;
}

main2 p {
    font-size: 14px;
    color: black;
    padding-left: 10px;
    background-color: white;
    width: 550px;
}
h2 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: darkblue;
    font-weight: normal;
    display: grid;
    grid-template-columns: 4fr;
    width: 300px;
    border-bottom: 2px solid darkblue;
}

.introh2 {
    font-size: 20px;
    color: darkblue;
    border-bottom: 3px solid darkblue;
    font-weight: normal;
    background-color: lightblue;
    display: block;
    width: 100px;
}

p {
    font-size: 14px;
    color: black;
    margin: 10px 0;
    padding: 5px 0;
   

    


}

.borderbottom {
    border-bottom: 2px solid darkblue;
}

.blockigm {
    display: block;
    margin: 5px;
    border: 2px solid darkblue;
}

.floatigm {
    float: left;
    margin-right: 10px;
    margin-top: 0;
    border: 2px solid darkblue;
}

.clearfloat {
    clear: both;
}

p a {
   color: green;
   text-decoration: none;
}

p a:hover {
   color: orange;
   text-decoration: underline;
}

.floatigm2 {
    float: right;
    margin-right: 0;
    margin-top: 0;
    margin-left: 10px;
    border: 2px solid darkblue;
}

main1ab {

    background-color: lightblue;
    width: 280px; 
    padding-right: 10px;
    margin-top: -14px;
    padding-left: 10px;
    text-align: justify;
    font-weight: bold;

}

main1ab h2 {
    font-size: 18px;
    color: darkblue;
    border-bottom: 2px solid darkblue;
    font-weight: normal;
    background-color: lightblue;
    display: block;
    width: 100%;
}

.floatbtm {
    float: top;
    margin-bottom: 0;
    margin-top: 0;
    border: 2px solid darkblue;
    display: block;
}

maingall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 0 0 10px;
    width: 900px;
}

maingall img {
    width: 270px;
    height: auto;
}

maingall h2 {
    font-size: 18px;
    color: darkblue;
    font-weight: normal;
    text-align: left;
    border-bottom: 2px solid darkblue;
    width: 273px;
    font-family: Arial, sans-serif;
    
}

maingall p {
    font-size: 14px;
    color: black;
    padding-left: 0;
    background-color: white;
    width: 273px;
}